aside.adminNav
  header.avatar.G-layout-box.G-center-v.G-center-h
    img(src="/img/pic.jpg", alt="")
    .infoWrap.G-layout-box.G-center-h.G-center-h
      .picWrap.G-layout-box.G-center-h.G-center-h
        img(src="/img/pic.jpg", alt="")
      .name.G-tc #{global._GLOBAL_DATA.role}
  section.navlist
    - var navConf = [{href: 'home',text: 'HOME'},{href: 'new',text: '发布文章'},{href: 'user',text: '用户管理'},{href: 'path',text: '路径管理'},{href: 'tag',text: '标签管理'}]
    ol
      each item in navConf
        - if (item.href == subPath)
          dd 
            a(href=item.href class='cur') #{item.text}
        - else
          dd 
            a(href=item.href) #{item.text}
        
  //- script(src="/js/adminNav.js") 
