extend ../adminlayout

block content
  .adminUserManage
    header.G-layout-box
      h2.G-box-col.titBar 用户列表
      a.G-btn-a.actAddUser(href='javascript:;') 新增用户
    section
      table
        thead
          tr
            th 序号
            th 用户名
            th 头像
            th 权限
            th 创建时间
            th 操作
        tbody 
          - var i=1
          each item in data
            tr 
              td #{i++}
              td #{item.userName}
              td 
              td #{item.role==1 ? '尊贵会员' : '超级管理员'}
              td #{moment(item.meta.createAt).format('YYYY-MM-DD hh:mm:ss')}
              td 
                a.actModify(href='javascript:;') 修改
                a.actDel(href='javascript:;') 删除
        tfooter
          tr
            td.G-tc(colspan='100') 翻页
  .G-layerWrap.G-layout-box.G-center-v.G-center-h(style='display:none')
    .G-layer
      .layerName
      form(action='user/creatUser', method='post')
        a.close.actClose(href='javascript:;') X
        <h3 class="title">新增用户</h3>
        .content.def.G-form-list
          .row.G-layout-box
            em 用户名：
            input.G-box-col(type="text", name="userName", placeholder='请填写用户名', required)
          .row.G-layout-box
            em 密&nbsp;&nbsp;&nbsp;&nbsp;码：
            input.G-box-col(type="password", name="password", placeholder='请填写密码', required)
          .row.G-layout-box
            em 权&nbsp;&nbsp;&nbsp;&nbsp;限：
            - var opt=[{key:2,value:'尊贵会员'},{key:1,value:'超级管理员'}]
            select(name='role')
              each item in opt
                option(value=item.key) #{item.value}
        .btns
          button.G-btn-a 立即提交
  
  script(src="/js/adminUserManage.js") 
