extend ../adminlayout

block content
  .adminPathManage
    header.G-layout-box.titBar
      h2.G-box-col 文章分类管理
      a.G-btn-a.actAddPath(href='javascript:;') 新增一级分类
    section
      for item in data.lv1
        - var root = item.pathName
        - var grandId = item._id
        table(id='item-#{item._id}')
          caption #{item.pathName}
            a.actDelItem(href='javascript:;', data-id='#{item._id}') 删除该分类
          thead
            tr
              th(width="5%") 级别
              th(width="20%") 上级目录
              th(width="20%") 名称
              th(width="20%") 创建时间
              th 操作
          tbody
              //- 一级目录 
              tr
                td #{item.level}
                td #{item.parentName}
                td #{item.pathName}
                td #{moment(item.updateAt).format('YYYY-MM-DD')}
                td
                  a.actAddSubItem(href='javascript:;', actdata='parentId=#{item._id}&parentName=#{item.pathName}&level=2') 新增子分类
              //- 子目录
              //- - for (var i=2; i<data.maxDeep+1; i++)
              - if (data.maxDeep >= 2)
                - each item in data.lv2
                  - var lv2Name = item.pathName
                  - if (item.parentName == root)
                    tr.tr-lv2(id='item-#{item._id}')
                      td #{item.level}
                      td #{item.parentName+'/'}
                      td #{item.pathName}
                      td #{moment(item.updateAt).format('YYYY-MM-DD')}
                      td
                        a.actAddSubItem(href='javascript:;', actdata='parentId=#{item._id}&parentName=#{item.pathName}&grandId=#{grandId}&level=3') 新增子分类
                        a.actDelItem(href='javascript:;', data-id='#{item._id}') 删除
                    - if (data.maxDeep >= 3)
                      - each item in data.lv3
                        - if (item.parentName == lv2Name)
                          tr.tr-lv3(id='item-#{item._id}', class='parent-#{item.parentId}')
                            td #{item.level}
                            td #{root+'/'+item.parentName+'/'}
                            td #{item.pathName}
                            td #{moment(item.updateAt).format('YYYY-MM-DD')}
                            td
                              //- a.actAddSubItem(href='javascript:;', actdata='parentId=#{item._id}&parentName=#{item.pathName}&level=#{i+1}') 新增子分类
                              a.actDelItem(href='javascript:;', data-id='#{item._id}') 删除
                
          
  .G-layerWrap.G-layout-box.G-center-v.G-center-h(style='display:none')
    .G-layer
      .addPathLayer
      form(action='/admin/path/creat', method='post')
        a.close.actClose(href='javascript:;') x
        h3.title 新增一级分类
        .content.def.G-form-list
          .row.G-layout-box
            em 分类名称：
            input.G-box-col(type='text', name='pathName', placeholder='请填写分类名', required)
        .btns
          input(type='hidden', name='parentId', value='0')
          input(type='hidden', name='parentName', value='/')
          input(type='hidden', name='level', value='1')
          button.G-btn-a 立即提交
  
  .G-layerWrap.G-layout-box.G-center-v.G-center-h(style='display:none')
    .G-layer
      .addSubPathLayer
      form(action='/admin/path/creat', method='post')
        a.close.actClose(href='javascript:;') x
        h3.title 新增子分类
        .content.def.G-form-list
          .row.G-layout-box.thin
            em 上级分类：
            span.parentName
          .row.G-layout-box.thin
            em 当前级别：
            span.level
          .row.G-layout-box
            em 分类名称：
            input.G-box-col(type='text', name='pathName', placeholder='请填写子类名', required)
        .btns
          input.parentId(type='hidden', name='parentId')
          input.grandId(type='hidden', name='grandId')
          input.parentName.G-box-col(type='hidden', name='parentName')
          input.level.G-box-col(type='hidden', name='level',value='')
          button.G-btn-a 立即提交
  
  script(src='/js/pages/adminPathManage.js') 
